html {
	font-size: 14px;
}
@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}
.display-1 {
	color: aliceblue;
}
.display-4 {
	color: aliceblue;
}
body {
	background-color: #333;
}
  
.container {
	max-width: 960px;
}
  
.pricing-header {
	max-width: 900px;
}
  
.card-deck .card {
	min-width: 220px;
}
h5 {
	color: rgba(0, 0, 0, 0.747);
}
p {
	color: whitesmoke;
	font-size: 20px;
}

#ruleta-indicador{
	width: 65px;
	height: 65px;
	border-right: 5px solid red;
	border-top: 5px solid red;
	transform: rotate(135deg);
}

#ruleta-img-container{
	padding-top: 0px;
}

#ruleta-img{
	transition: 4000ms ease all;
}

.blink_me {
	animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
	50% {
	  opacity: 0;
	}
  }

